<div class="select-container">
  <div class="select-card">
    <p class="select-description">ジャンルを選んでください</p>

    <div class="genre-button-list">
      <button type="button" class="genre-button" routerLink="/geinin-quiz/m1">M-1グランプリクイズ</button>
      <button type="button" class="genre-button" routerLink="/geinin-quiz/koc">キングオブコントクイズ</button>
      <button type="button" class="genre-button" routerLink="/geinin-quiz/agency">事務所クイズ</button>
      <button type="button" class="genre-button" routerLink="/geinin-quiz/silhouette">シルエットクイズ</button>
    </div>

    <button type="button" class="home-button" routerLink="/">ホームに戻る</button>
  </div>
</div>
